.d-flex {
  display: flex;
}

.jc-center {
  justify-content: center;
}

.ai-center {
  align-items: center;
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.mx-15 {
  margin-left: 15px;
  margin-right: 15px;
}