#photos-row {
  display: flex;
  flex-wrap: wrap;
}

.photos {
  max-height: 250px;
  margin: 10px;
}

.imgGallery_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  opacity: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(128, 128, 128,0.7);
  pointer-events:none;
}

.imgGallery_box {
  display: flex;
  max-width: 90%;
  min-width: 90%;
  max-height: 75%;
  z-index: 10;
}

.imgGallery_img {
  display: block;
  height: auto;
  max-width: 90%;
  user-select: none;
}

.invisible_div {
  width: 100%;
  height:100%;
  position: absolute;
  z-index: 5;
}

.buttonL {
  display: block;
  height: auto;
  width:  5%;
  margin:5px;
  align-self: center;
}

.buttonR {
  display: block;
  height: auto;
  width:  5%;
  margin: 5px;
  align-self: center;
}
