body {
  display: flex;
  flex-flow: column;
  padding-top: 60px;
  min-height: 100vh;
  box-sizing: border-box;
}

main {
  flex-grow: 1;
}

footer {
  padding: 20px 40px;
  background-color: #f9f9f9;
}

h2 {
  font-size: 40px;
  font-weight: 700;
}

h4 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 5px;
}

a {
  color: #000;
}

a:hover {
  text-decoration: underline;
}

.logo-header {
  height: 50px;
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.active-link {
  color: #555;
}

<<<<<<< HEAD
=======
p, li {
  font-size: 20px;
}
>>>>>>> main
